<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmu.firstclass.firstclass" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presentation.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.SubmitReview"
            android:label="SubmitReview"></activity>
        <activity
            android:name=".presentation.DepartmentListActivity"
            android:label="@string/title_activity_department_list" >
        </activity>

        <activity
            android:name=".presentation.DepartmentCourseListActivity"
            android:label="@string/title_activity_department_course_list" >
        </activity>
        <activity
            android:name=".presentation.Register"
            android:label="@string/title_register" >
        </activity>
        <activity
            android:name=".presentation.AdminPage"
            android:label="@string/admin_management" >
        </activity>
        <activity
            android:name=".presentation.CourseActivity"
            android:label="CourseActivity" >
        </activity>
        <activity
            android:name=".presentation.InstructorActivity"
            android:label="Instructor Page" >
        </activity>
        <activity
            android:name=".presentation.UserProfile"
            android:label="Lis" >
        </activity>
    </application>

</manifest>
